.Login,.SignUp{
  box-sizing: border-box;
}
.Login.SignUp{
  background: rgb(245, 247, 248) !important;
  height: 100%;
  display: flex;
  font-weight: 400;
  font-family: 'Candara';
  font-size: 24px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 100%;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-size: 24px;
  font-family: 'Candara';
  margin-left: 10;
}

body, html, .App, #root,.auth-wrapper {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 65px;
}

.bg{
  background-image: url("../images/userhome.jpg");
  width: auto;
  margin: inherit;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: scroll;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  font-size: 24px;
  border-right: rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  text-align: justify;
}

.auth-inner {
  width: 750px;
  margin: auto;
  background: #ffffffda;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  font-size: 20px;
}

.auth-inner-full {
  width: 100%;
  margin: auto;
  background: #ffffffda;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  font-size: 20px;
}

.auth-inner-half {
  width: 85%;
  margin: auto;
  background: #ffffffda;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  font-size: 20px;
}

.auth-inner-half-transparent {
  width: 85%;
  margin: auto;
  background: #ffffff00;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  font-size: 20px;
}

.auth-inner-white {
  width: 300px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  font-size: 20px;
}


.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 20px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 2s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  font-size: 24px;
}

.cbg{
  background-color: rgba(0, 0, 0, 0.21);

}

::placeholder {
  font-size: 20px;
}

.error{
  font-size: 20px;
  color: red;
}

.nlink:hover {
  background: rgb(231, 252, 227);
}
