*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Candara';
}

body{
   background-color: #f3f5f9;
}

.userhomebg{
  background-color: #f3f5f9;
  background-image: url("../images/userhome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 300px;
  height: 100%;
  background: #8cb3de;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
color: #020202;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #53a1c5;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 300px;
}


.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  text-align: center;
}

.wrapper .main_content .info{
  margin: 0px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

.crop-container{
  background: rgb(245, 247, 248) !important;
  height: 100%;
  display: flex;
  font-weight: 400;
  font-family: 'Candara';
  font-size: 24px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 100%;
}

.wrapper {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  text-align: justify;
}

.inner {
  width: auto;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.cropform {
  width: 100%;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  font-size: 24px;
}

@media (max-height: 500px){
  .social_media{
    display: none !important;
  }

  .cont{
    width : 80%;
  }
}

.cropList {
  font-size: 20px;
}